* {
  transition: unset !important;
}

body {
  margin-bottom: 0 !important;
}

.article-share-code,
.article-topic,
.cbimage-fixed,
.cbv,
.cnbeta-article span.fr,
.cnbeta-article-comments,
.cnbeta-article-latest,
.cnbeta-article-vote-tags,
.cnbeta-fullBanner,
.cnbeta-home-side,
.commnum,
.gotop,
.otherContent_01,
.pageFooter,
.tac,
.tks,
.topSearchBox,
#abd-ad-div,
#abd-ad-iframe-wrapper,
#cbhahaha,
#commentHolder,
#nol_menu,
#goTop {
  display: none !important;
}

.cnbeta-article,
.cnbeta-update-list {
  width: auto !important;
}
